/* Logo portafolio */

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Boton Contactame */
.compartir .hide-icons {
    position: relative;
}

.compartir span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    text-align: center;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.compartir .hide-icons>a {
    font-size: 0;
}

.compartir a {
    line-height: 42px;
    width: 42px;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -5px;
}

.compartir a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

.compartir a:nth-child(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
}

.compartir a:nth-of-type(1):hover {
    background-color: #ea4335;
}

.compartir a:nth-of-type(2):hover {
    background-color: #050608;
}

.compartir a:nth-of-type(3):hover {
    background-color: #0077b5;
}

.compartir a:nth-of-type(4):hover {
    background-color: #000000;
}

.compartir:hover span,
.share.hover span {
    opacity: 0;
}

.compartir:hover a,
.share.hover a {
    margin: 0 5px;
    color: #413838;
    font-size: 28px;
    border-radius: 50%;
    background: #ffffff15;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    ;
}

.compartir:hover a:hover,
.share.hover a:hover {
    color: #ffffff;
}

/* Offcanvas */
div.offcanvas-body>ul{
    list-style: none;
}

main > h1{
    text-align: center;
}

/* Media-queries */
@media (max-width: 575.98px) {
    button.compartir{
        display: none;
    }
    #aamp-logo{
        position: relative;
        right: 0%;
    }
} 