html,
body{
  background: linear-gradient(to right, #04499c, #2ca4fb);
}

.tarjeta{
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow:
          0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}