html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

img#nirmodel-logo {
    height: 30px;
}

header nav {
    background-image: url(../img/fondo.jpg);
    background-size: 340px;
}

.navbar{
    --bs-navbar-padding-y: 0;
}

ul#menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul#menu li,
ul#menu li>a {
    color: rgb(69, 70, 72);
    text-decoration: none;
}

ul#menu li {
    margin-right: 50px;
}

h1#nombre-empresa {
    color: rgb(127, 122, 129);
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 70px;
}

div.h2 {
    text-align: center;
}

h2#highlights {
    display: inline;
    font-size: 1.25em;
    border-style: solid none none none;
}

div#highlights-items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6em;
    margin-bottom: 3em;
}

div.contact-form{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

div.submit-btn{
    display: flex;
    justify-content: center;
    margin-top: .25em;
}

h3.contact {
    text-align: center;
    margin-top: 0em;
    margin-bottom: .25em;
}

form.form-content, form.form-dark {
    color: white;
    background-color: rgb(57, 57, 57);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .25em;
    border-radius: .5em;
}

div.form-input {
    text-align: center;
}

footer {
    margin-top: 30px;
    background-color: black;
    position: relative;
    text-align: center;
}

footer p {
    color: white;
    position: absolute;
    top: 87.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cropped-image {
    width: auto;
    height: 290px;
}

.none-image {
    object-fit: none;
}

.position-70-15 {
    object-position: 87.5% 0%;
}

/* m2_s4_DRILLING - Responsivity */

/*
 Pantalla Extra Large (>=1200px)
*/
@media(min-width:1200px){

    .me-auto{
        margin-left: auto!important;
    }

    .card-img-top{
        object-fit: cover;
        height: 300px;
    }

    .h2{
        font-size: x-large;
    }

}

/*
 Pantalla Large (>=992px)
*/
@media(min-width:992px) and (max-width:1199px){

    .me-auto{
        margin-left: auto!important;
        margin-right: 5vw!important;
    }
    .card-img-top{
        object-fit: cover;
        height: 200px;
    }

}
   
/*
 Pantalla Medium (>=768px)
*/
@media(min-width:768px) and (max-width:991px){
    
    div.contact-form{
        display:none;
    }

    div#highlights-items{
        display: block;
    }

    div.card{
        margin-block-start: 3em;
        margin-block-end: 3em;
    }
    .card-img-top{
        object-fit: cover;
        height: 200px;
    }
}
   
/*
Pantalla LSmall (>=576px)
*/
@media(min-width:576px) and (max-width:767px){
    
    img#nirmodel-logo {
        height: 40px;
    }

    header nav {
        background-size: 400px;
    }
    
    div#highlights-items {
        display: block;
        text-align: center;
    }

    div.box{
        display: block;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }

    div.box img{
        min-height: 175px;
        min-width: 569.92px;
    }

    div.box>h4, div.box>p {
        margin-block-start: 0em;
        margin-block-end: 0em;
        text-align: center;
        width: auto;
    }
    div.card{
        margin-block-start: 3em;
        margin-block-end: 3em;
    }

    div#Comuniquemonos, div#Reserva{
        display:none;
    }

    footer{
        background-color: black;
        position: relative;
        text-align: center;
    }

    footer img{
        height: 200px;
    }

    footer p{
        top: 35rem;
    }

    .cropped-image {
        width: auto;
    }
}

.bs-center{
    display: flex;
    justify-content: center;
}

.carousel-inner, .carousel-item>img{
    height: 400px;
    object-fit: fill;
}